* {
  margin: 0;
  padding: 0;
}

.action-field {
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: #bbb;
}

.content-box {
  position: absolute;
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  color: white;
  font-size: 2em;
  font-family: monospace;
  background-color: #777;
  min-width: 80px;
  max-width: calc(100% - 80px);
  min-height: 29px;
}

.action-field .content-box:first-child {
  height: 100%;
}

.action-field .content-box:nth-child(2) {
  max-height: calc(100% - 36px);
}

.header {
  width: 100%;
  height: 30px;
  background-color: #575956;
  text-align: center;
}

.resizer {
  position: absolute;
  background-color: #000;
  z-index: 1000;
}
.vertical {
  top: 0;
  right: 0;
  height: 100%;
  width: 5px;
}
.horizontal {
  right: 0;
  bottom: 0;
  height: 5px;
  width: 100%;
}
.vertical:hover {
  cursor: e-resize;
}
.horizontal:hover {
  cursor: n-resize;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.left {
  left: 0;
}

.right {
  right: 0;
}
